* {
    margin: 0;
    padding: 100;
    box-sizing: border-box;
}

html {
    color: #222;
    font-family: 'Roboto', 'Lato', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: #fff;
}

header {
    background-color: rgb(49, 158, 107);
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    color: whitesmoke;
}

#cypress-logo {
    height: 45px;
    width: 45px;
}

#title {
    flex-grow: 1;
    margin-left: 15px;
}

#github-icon {
    justify-self: flex-end;
    color: whitesmoke;
}

#main-content {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 75 75 0 75;
}

#how-to {

}



#download-button {
    background-color: rgb(49, 158, 107);
    border: 1px solid whitesmoke;
    margin: 5px;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: whitesmoke;
    line-height: 8px;
}
#download-button:hover {
    background-color: whitesmoke;
    color: rgb(49, 158, 107);
    transition: all .15s ease 0s
}



.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* background-color: blue;  */
}
.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: red;  */
}



/* .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d3d3d3;
}
.row-1 {
    display: flex;
    justify-content: space-around;
}

.heading{
    display: flex;
    justify-content: center;
}
.github{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.cypress {
    display: flex;
    justify-content: center;
}

.google-store {
    width: 600px;
}

.github a {
    color: #fff;
}

.dev-feature {
    margin-bottom: 5px;
}

.dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dev img {
    width: 150px;
    height: 150px;
}
.dev img {
    opacity: 0.7;
    width: 60%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}
.dev img:hover {
    opacity: 1;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}

footer {
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
} */
