* {
    margin: 0;
    padding: 100;
    box-sizing: border-box;
}

html {
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background-color: #fff;
}

header {
    background-color: rgb(49, 158, 107);
    display: flex;
    justify-content: center;

}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d3d3d3;
}
.row-1 {
    display: flex;
    justify-content: space-around;
}

.heading{
    display: flex;
    justify-content: center;
}
.github{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.cypress {
    display: flex;
    justify-content: center;
}
.github a {
    color: #fff;
}

.dev-feature {
    margin-bottom: 5px;
}
img {
    width: 150px;
    height: 150px;
}
.dev img {
    width: 60%%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

footer {
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
}
